        <footer class="footer margin-top-1">
            <div class="columns">

                <div class="column has-text-centered">
                    <code>> git clone sleep</code><br>
                    <code>> me.trySleep(2h)</code><br>
                    <code>> me.returnWork()</code>
                </div>

                <div class="column has-text-centered">
                <a class="button" href="/mentions_legales">
                    <span class="icon">
                    <i class="fas fa-clipboard"></i>
                    </span>
                    <span>Mentions légales</span>
                </a>
                <a class="button" href="https://github.com/Axel-Duval/ProjetWeb" target="_blank">
                    <span class="icon">
                    <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </a>
                </div>

                <div class="column has-text-centered">
                    <code>> git clone coffee</code><br>
                    <code>> me.makeCoffee(1)</code><br>
                    <code>> me.drinkCoffee()</code>
                </div>

            </div>
        </footer>
    </body>
</html>


<!-- 
    
-->