        <footer class="footer">
            <div class="columns">

                <div class="column">
                <div style="width: 70%;margin-left: 15%;">
                    <code><code>projetWeb.get('/coffee',(req,res)=>{</code><br><span style="margin-left: 2em;"></span><code>console.log('I really need a coffee !')</code><br><code>})</code></code>
                </div>
                </div>

                <div class="column has-text-centered">
                <a class="button" href="/mentions_legales">
                    <span class="icon">
                    <i class="fas fa-clipboard"></i>
                    </span>
                    <span>Mentions légales</span>
                </a>
                <a class="button" href="https://github.com/Axel-Duval/ProjetWeb" target="_blank">
                    <span class="icon">
                    <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </a>
                </div>

                <div class="column">
                <div style="width: 70%;margin-left: 15%;">
                    <code><code>projetWeb.get('/sleep',(req,res)=>{</code><br><span style="margin-left: 2em;"></span><code>console.log('When am I suppose to sleep ?')</code><br><code>})</code></code>
                </div>
                </div>

            </div>
        </footer>
    </body>
</html>