<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
        <img src="/img/icon-primary.png">
        </a>


        <!-- Responsive for smartphones/tablets -->
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <a class="navbar-item" href="/">
            acceuil
        </a>

        <a class="navbar-item" href="/tarifs">
            <strong>tarifs</strong>
        </a>

        <a class="navbar-item" href="/reservation">
            réservation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            plus
            </a>
            <div class="navbar-dropdown">
            <a class="navbar-item" href="/a_propos">
                à propos
            </a>
            <a class="navbar-item" href="/notre_equipe">
                notre équipe
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/contact">
                contact
            </a>
            </div>
        </div>
        </div>

        <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
            <a class="button is-primary" href="/inscription">
                <strong>inscription</strong>
            </a>
            <a class="button is-light" href="/connexion">
                connexion
            </a>
            </div>
        </div>
        </div>
    </div>
</nav>