<%- include('includes/header'); -%>

<%- include('includes/navbar'); -%>
<br>
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          En cours de développement 
        </h1>
        <h2 class="subtitle">
          Fait par Axel Duval
        </h2>
      </div>
    </div>
</section>
<br>

<%- include('includes/footer'); -%>