@media screen and (min-width: 100px) and (max-width: 800px) {
    #main-parallax {
        /* The image used */
        background-image: url("/img/camp3.jpg");
      
        /* Set a specific height */
        height: 100vh;
        width: auto;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
    #title_box{
        margin-top: 40vh;
    }
    
}

@media screen and (min-width: 801px) {
    #main-parallax {
        /* The image used */
        background-image: url("/img/camp3.jpg");
      
        /* Set a specific height */
        height: 80vh;
        width: auto;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
    #title_box{
        position: absolute;
        margin-top: 40vh;
    }
}

@media screen and (min-height: 200px) and (max-height: 800px) {
    .margin-top-1{
        margin-top: 5vh;
    }
    
    .margin-top-2{
        margin-top: 10vh;
    }
    
    .margin-top-3{
        margin-top: 15vh;
    }

    .margin-form{
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .margin-button{
        margin-top: 3vh;
        margin-bottom: 1vh;
    }

    .margin-bottom-1{
        margin-bottom: 5vh;
    }
}

@media screen and (min-height: 801px){
    .margin-top-1{
        margin-top: 10vh;
    }
    
    .margin-top-2{
        margin-top: 20vh;
    }
    
    .margin-top-3{
        margin-top: 30vh;
    }

    .margin-form{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .margin-button{
        margin-top: 6vh;
        margin-bottom: 1vh;
    }
    .margin-bottom-1{
        margin-bottom: 10vh;
    }
}

.ovhi{
    overflow: hidden;
}

.pad{
    padding-bottom: 10px;
}

.w-60{
    width: 60%;
    margin-left: 20%;
}