<%- include('../includes/header'); -%>

<%- include('../includes/navbar'); -%>

<section class="container margin-top-1 margin-bottom-1">
  <div class="columns is-centered is-mobile">
      <div class="column is-narrow has-text-centered">
          <h1 class="title is-1 has-text-left">A propos</h1>
          <h2 class="subtitle has-text-primary has-text-left">De notre camping</h2>
      </div>
  </div>
</section>

<section class="timeline is-centered">
    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary is-icon">
        <i class="fas fa-plus"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Janvier 1995</p>
        <p class="has-text-weight-semibold">Création du Camping Des Sources</p>
      </div>
    </div>
    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary is-icon">
        <i class="fas fa-home"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Octobre 1998</p>
        <p class="has-text-weight-semibold">Constructions des premiers châlets</p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-warning">2000</span>
    </header>
    <div class="timeline-item is-warning">
      <div class="timeline-marker is-warning is-icon">
        <i class="fas fa-swimming-pool"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Juin 2001</p>
        <p class="has-text-weight-semibold">Construction de la piscine et du spa</p>
      </div>
    </div>
    <div class="timeline-item is-warning">
      <div class="timeline-marker is-warning is-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Avril 2005</p>
        <p class="has-text-weight-semibold">Certification camping 3 étoiles de France</p>
      </div>
    </div>
    <div class="timeline-item is-warning">
      <div class="timeline-marker is-warning is-icon">
        <i class="fas fa-wrench"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Juin 2009</p>
        <p class="has-text-weight-semibold">Rénovation des sanitaires</p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-danger">2010</span>
    </header>
    <div class="timeline-item is-danger">
      <div class="timeline-marker is-danger is-icon">
        <i class="fas fa-heart"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Mars 2012</p>
        <p class="has-text-weight-semibold">Construction de deux suites de luxe</p>
      </div>
    </div>
    <div class="timeline-item is-danger">
      <div class="timeline-marker is-danger is-icon">
        <i class="fas fa-desktop"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Avril 2015</p>
        <p class="has-text-weight-semibold">Rénovation de l'acceuil</p>
      </div>
    </div>
    <div class="timeline-item is-danger">
      <div class="timeline-marker is-danger is-icon">
        <i class="fas fa-futbol"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">Juin 2015</p>
        <p class="has-text-weight-semibold">Partenariat Activitées Du Lubéron</p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-medium is-primary">Aujourd'hui</span>
    </header>
</section>

<section>
    <div class="columns is-centered is-mobile">
        <div class="column is-half has-text-centered">
            <p class="heading has-text-centered margin-top-1">* Depuis plusieurs années, le camping des sources est engagé pour offrir à ses vacanciers une qualité de services toujours plus grande.
                Le label Qualité Tourisme vient récompenser les efforts quotidiens de nos équipes sur la base d'audits mystères réguliers effectués par des cabinets indépendants *</p>
        </div>
    </div>
</section>

<%- include('../includes/footer'); -%>