<%- include('../includes/header'); -%>

<%- include('../includes/navbar'); -%>

<!-- Parallax -->
<div id="main-parallax" class="has-text-centered">
  <div class="columns is-centered is-vcentered is-mobile has-text-centered">
    <div class="column is-narrow has-text-centered" id="title_box">
      <div class="box">
        <div class="box-content">
          <h1 class="title is-size-1">Bienvenue</h1>
          <h2 class="subtitle is-size-3">dans le <span class="has-text-primary">lubéron</span></h2>
        </div>
      </div>
    </div>    
  </div>
</div>



<!-- Quelques chiffres -->
<section>
  <div class="hero has-text-centered margin-top-1">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1">Notre camping</h1>
        <h2 class="subtitle is-size-6 has-text-primary">en quelques chiffres</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Emplacements</p>
          <p class="title has-text-primary is-2">36</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Chalêts</p>
          <p class="title has-text-primary is-2">13</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Suites luxe</p>
          <p class="title has-text-primary is-2">2</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Infrastructures</p>
          <p class="title has-text-primary is-2">7</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="hero has-text-centered margin-top-1">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1">Plan du camping</h1>
        <h2 class="subtitle is-size-6 has-text-primary">2019-2020</h2>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <figure class="image">
        <img src="/img/plan-du-camping.png">
      </figure>
    </div>
  </div>
</section>

<section>
  <div class="hero has-text-centered margin-top-1">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1">Quelques photos</h1>
        <h2 class="subtitle is-size-6 has-text-primary">de nos campeurs</h2>
      </div>
    </div>
  </div>
</section>

<section class="container margin-top-1 ovhi">
  <div class="columns is-touch">
    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_1.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>

    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_2.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>

    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_3.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>

    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_4.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>
  </div>
  <div class="columns is-touch">
    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_5.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>

    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_6.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>

    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_7.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>

    <div class="column is-3">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/img/index_8.jpg" alt="Image du camping">
        </figure>
      </div>
    </div>
  </div>
</section>

<%- include('../includes/footer'); -%>