<%- include('../includes/header'); -%>

<%- include('../includes/navbar'); -%>


<div id="main-parallax">
  <div style="border-top: solid 1px #FFFFFF;"></div>
    <div class="mid_couv">
      <h1 class="couv">Bienvenue</h1>
      <h2 class="sub_couv">dans le <span class="has-text-primary">lubéron</span></h2>
    </div>
  </div>
</div>

<section class="hero has-text-centered margin-top-1">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Le camping
      </h1>
      <h2 class="subtitle">
        en quelques chiffres
      </h2>
    </div>
  </div>
</section>

<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Emplacements</p>
      <p class="title has-text-primary">36</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Chalêts</p>
      <p class="title has-text-primary">13</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Suites luxe</p>
      <p class="title has-text-primary">2</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Infrastructures</p>
      <p class="title has-text-primary">7</p>
    </div>
  </div>
</div>

<%- include('../includes/footer'); -%>