<%- include('../includes/header'); -%>

<%- include('../includes/navbar'); -%>

<!-- Parallax -->
<div id="main-parallax" class="has-text-centered">

  <div class="columns is-centered is-vcentered is-mobile has-text-centered">
    <div class="column is-narrow has-text-centered" id="title_box">
      <div class="box">
        <div class="box-content">
          <h1 class="title is-size-1">Bienvenue</h1>
          <h2 class="subtitle is-size-3">dans le <span class="has-text-primary">lubéron</span></h2>
        </div>
      </div>
    </div>    
  </div>

</div>



<!-- Quelques chiffres -->
<section>
  <div class="hero has-text-centered margin-top-1">
    <div class="hero-body">
      <div class="container">
        <h3 class="title is-size-3-touch">Le camping</h3>
        <h4 class="subtitle is-5">en quelques chiffres</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Emplacements</p>
          <p class="title has-text-primary is-2">36</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Chalêts</p>
          <p class="title has-text-primary is-2">13</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Suites luxe</p>
          <p class="title has-text-primary is-2">2</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Infrastructures</p>
          <p class="title has-text-primary is-2">7</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="margin-top-1 has-text-centered">
  <p>Others</p>
</section>

<%- include('../includes/footer'); -%>