<%- include('../includes/header'); -%>

<%- include('../includes/navbar'); -%>

<section class="container margin-top-1 margin-bottom-1">
  <div class="columns is-centered is-mobile">
      <div class="column is-narrow has-text-centered">
          <h1 class="title is-1 has-text-left">Polytech</h1>
          <h2 class="subtitle has-text-primary has-text-left">Montpellier</h2>
      </div>
  </div>
</section>

  <section class="columns is-centered">
    <div class="column is-half">
        <article class="panel is-primary">
          <p class="panel-block is-active">
            <span class="is-family-code">Ce site a été créé dans le cadre d'un projet de développement d'application web.
                Toutes les informations présentées sur ce site sont fictives et servent juste de contenu pour une présentation.
                Le but de ce projet est d'offrir à un camping un nouvel outil de gestion fonctionnel et efficace.</span>
          </p>
        </article>
    </div>
</section>

<%- include('../includes/footer'); -%>