<%- include('../includes/header'); -%>

<%- include('../includes/navbar'); -%>

<section class="container margin-top-1 margin-bottom-1">
  <div class="columns is-centered is-mobile">
      <div class="column is-narrow has-text-centered">
          <h1 class="title is-1 has-text-left">Notre équipe</h1>
          <h2 class="subtitle has-text-primary has-text-left">Ils travaillent ici</h2>
      </div>
  </div>
</section>

<section>
    <div class="columns is-touch">
      <div class="column">
        <div class="card">
          <a href="mailto:axel.duval74@gmail.com">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/img/me1280x960.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Axel Duval</p>
                  <p class="subtitle is-6">axel.duval74@gmail.com</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a href="mailto:lucie.loe@XXX">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/img/1_1280x960.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Lucie Loe</p>
                  <p class="subtitle is-6">lucie.loe@gmail.com</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <a href="mailto:john.doe@XXX">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/img/2_1280x960.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">John Doe</p>
                  <p class="subtitle is-6">john.doe@gmail.com</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="columns is-touch">
      <div class="column">
        <div class="card">
          <a href="mailto:morgan.brux@XXX">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/img/3_1280x960.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Morgan Brux</p>
                  <p class="subtitle is-6">morgan.brux@gmail.com</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a href="mailto:jack.smith@XXX">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/img/4_1280x960.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Jack Smith</p>
                  <p class="subtitle is-6">jack.smith@gmail.com</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a href="mailto:flora.bettini@XXX">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/img/5_1280x960.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Flora Bettini</p>
                  <p class="subtitle is-6">flora.bettini@gmail.com</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
</section>

<%- include('../includes/footer'); -%>