<%- include('../includes/header'); -%>

<%- include('../includes/navbarManager'); -%>

<section class="container margin-top-1 ovhi">
    <div class="columns columns is-centered is-mobile">
        <div class="column is-narrow has-text-centered">
            <h1 class="title is-size-1 has-text-left">Bonjour</h1>
            <h2 class="subtitle is-size-3 has-text-primary has-text-left"><%=identifiant%></h2>
        </div>
    </div>
</section>

<section class="has-text-centered margin-top-1">
    <p>Some data...</p>
</section>

<%- include('../includes/footer'); -%>